archive/*
tests/*
*aux
*bcf
*blg
*log
*out
*run.xml
hssa-documentation-index.tex
hssa-documentation.synctex.gz
hssa-biblatex-older.sty
hssa-biblatex.bbl
hssa-documentation.glg
hssa-documentation.hd
hssa-documentation.fdb_latexmk
hssa-documentation.fls
lexical.idx
manuscripts.idx
manuscripts.ilg
manuscripts.ind
template_HSSA.bbl
template_HSSA.dep
template_HSSA.synctex.gz

